extends layout 

block content 
  h1=title

  form(method='POST' action='')
    .form-group 
      label(for='category') Category:
      select#category.form-control(type='select' placeholder='Select Category' name='category' required='true')
        - categories.sort(function(a,b){let textA = a.name.toLowerCase(); let textB = b.name.toLowerCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0});
        for category in categories 
          option(value=category._id, selected=(selected_category==category._id.toString() ? 'selected' : false)) #{category.name}
      
    .form-group 
      label(for='name') Name: 
      input#name.form-control(type='text' name='name' value=(item===undefined ? '' : item.name))
    .form-group 
      label(for='description') Description: 
      input#description.form-control(type='text' name='description' value=(item===undefined ? '' : item.description))
    .form-group 
      label(for='units') Measurement Units:
      select#units.form-control(type='select' placeholder='Select Units' name='units' required='true')
        - allUnits.sort(function(a,b){let textA = a.toLowerCase(); let textB = b.toLowerCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0});
        for unit in allUnits 
          option(value=unit, selected=(selected_unit===unit ? 'selected' : false)) #{unit}
        
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul 
      for error in errors 
        li!=error.msg


